
    /*-------------------------------------*/
    .container {
        max-width: var(--maxww);
        margin: 0 auto;
        padding: var(--pdm);
      }
  
      .container_full {
        max-width: var(--maxww);
        margin: 0 auto;
      }